<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJlPwjKfI7yexaQFXGDQYzlBuAc4caeBw</string>
	<key>GCM_SENDER_ID</key>
	<string>863358238289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recepiesApp</string>
	<key>PROJECT_ID</key>
	<string>fir-recipes-app-a0c2c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-recipes-app-a0c2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863358238289:ios:228ff59da299c906bfc270</string>
</dict>
</plist>